.change-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px !important;
}

.change-password .fields-backgruond{
    background: var(--secondary) !important;
}

.change-password .fields-labels{
    width: 300px !important;
    color: var(--white) !important;
}

.change-password .eye-icons{
    position: absolute;
    font-size: 23px;
    right: 10px;
    top: 9px;
    cursor: pointer;
    color: var(--white) !important;
}
